.header{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
}

.toggle{
    color: var(--color-primary);
    cursor: pointer;
}

.cardWrapper{
    margin-top: 18px;   
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.section{
    margin: 0 32px;
}