.btnContainer {
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
  .poppinsFont {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
  }
  .albumBtn {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
  }
  .collapseBtn {
    background-color: transparent;
    border: none;
    color: #34c94b;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
  }
  .containerGrid {
    border-bottom: 1px solid #34c94b;
  }
  /* .container {
    height: 270px;
  } */