body {
  --color-primary: #34c94b;
  --color-black: #121212;
  --color-white: #ffffff;

  margin: 0;
  font-family: -"Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body html {
  width: 100vw;
}
