:root{
  --color-primary: #34c94b;
  --color-black:#121212;
  --color-white: #ffffff;
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

*{
  margin: 0;
}

html,
body{
  height: 100%;
}

body{
  font-family: "Poppins", sans-serief;
  line-height: 1.5 ;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-black);
  color: var(--color-white);
  overflow-x: hidden; 
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select{
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#_next{
  isolation: isolate;
}

a,
a:hover,
a:focus,
a:actice {
  text-decoration: none;
  color: inherit;
}

.swiper-slide{
  width: auto !important;
}







/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
