.button {
    background-color: var(--black-color);
/*     color: var(--primary-color); */
    color: green;   /* Change text color to green */
    padding: 10px 16px;
    border: 1px solid #34c94b;
    border-radius: 12px;
    width: 170px;
    height: 47px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.25px;
    transition: background-color 0.3s; /* Optional: Add transition for smooth hover effect */
  }


 .button:hover {
    cursor: pointer; /* Change cursor to pointer on hover */
}
  
  
