.button {
    background-color: var(--color-black);
    color: var(--color-primary);
    padding: 10px 16px;
    border: 1px solid #34c94b;
    border-radius: 12px;
    width: 170px;
    height: 47px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.25px;
    font-family: 'Poppins', sans-serif; /* set font family to 'poppins' */
  }

  .button:hover {
    cursor: pointer; /* Change cursor to pointer on hover */
}
  
