.card {
 
    padding: 10px;
    width:200px;
   
   
  
  }
  .colortitle{
    color:#ffffff;
    font-family: Poppins;
  }
  .chip {
    background-color: #121212;
    color:#ffffff;
    font-family: Poppins;
  
  }