.container {
    /* color: white; */
    /* border: 2px solid white; */
    width: 99vw;
    border-top: 3px solid rgba(255, 255, 255, 0.35);
  }
  .imgDiv {
    width: 20%;
    display: flex;
    align-items: center;
  }
  .img {
    height: 60px;
    width: 60px;
  }
  .component {
    background-color: transparent;
    width: 98%;
    padding: 1rem;
    /* border: 0.1px solid black; */
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
  
  .musicCover {
    height: 60px;
    width: 60px;
    border-radius: 10px;
  }
  
  .playButton {
    background: white;
    border: none;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
  }
  
  .subTitle {
    /* margin-top: -1em; */
    color: #ffffff;
    margin-left: 1rem;
    margin: 0px;
    margin: 0px 1rem;
  }
  
  .time {
    margin: 0 auto;
    width: 80%;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    color: #828282;
    font-size: smaller;
  }
  
  .timeline {
    width: 80%;
    background-color: #34c94b;
  }
  
  input[type="range"] {
    background-color: #34c94b;
  }
  
  @media (max-width: 900px) {
    .component {
      width: 50%;
    }
  }
  .title {
    margin: 0px 1rem;
    /* margin: 0px; */
    color: #ffffff;
  }
  .btnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  .paraLeft {
    margin-right: 1rem;
  }
  .paraRight {
    margin-left: 1rem;
  }