.css-y8ay40-MuiTableCell-root {
    background: black !important;
    color: #ffffff !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    border: none !important;
  }
  .css-dwuj3p-MuiTableCell-root {
    background: black !important;
    color: #ffffff !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    border: none !important;
  }
  .css-i02g0k-MuiTableCell-root {
    background: black !important;
    color: #ffffff !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    border: none !important;
  }