.text {
    color: #ffffff;
  }
  .cardBoxContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 3rem;
    margin-left: 1rem;
    color: #ffffff;
  }
  .cardBox {
    display: flex;
    margin-top: 2rem;
  }
  .cardImg {
    width: 300px;
    height: 330px;
    object-fit: cover;
    margin-right: 2rem;
  }
  .Img {
    width: 300px;
    height: 330px;
    border-radius: 20px;
    /* object-fit: cover; */
  }
  .ArrowBtn {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border: 1px solid #ffffff;
    background: transparent;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cardTextContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: "poppins";
  }
  .cardTitle {
    margin: 0px;
    font-size: 40px;
    font-weight: 600;
  }
  .cardDiscrip {
    margin: 0px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin-top: 8px;
  }
  .btnDiv {
    display: flex;
    margin-top: 8px;
  }
  .shuffleBtn {
    background-color: #34c94b;
    color: #ffffff;
    margin-right: 2rem;
    border: none;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 18px;
    width: 131px;
    height: 46px;
    font-family: "lato";
    font-size: 18px;
    font-weight: 600;
  }
  .addToLibBtn {
    background-color: transparent;
    color: #34c94b;
    margin-right: 2rem;
    border: 1px solid #34c94b;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    width: 200px;
    letter-spacing: 0.25px;
    height: 46px;
    font-family: "lato";
    font-size: 18px;
    font-weight: 600;
  }
  .TableImgDiv {
    display: flex;
    height: 64px;
    align-items: center;
  }
  .TableImg {
    width: 59px;
    height: 64px;
  }
  .title {
    font-family: "poppins";
    font-size: 14px;
    font-weight: 400;
    margin-left: 1rem;
    text-align: center;
    color: #ffffff !important;
    font-size: 14px !important;
    font-weight: 400 !important;
  }
  .titleCell {
    width: 30%;
  }
  .names {
    margin-right: 5px;
    color: #ffffff !important;
    font-size: 14px !important;
    font-weight: 400 !important;
  }
  
  .tableBox {
    display: flex;
    justify-content: center;
    width: 90vw;
  }
  .TableBody {
    background: black !important;
    color: #ffffff !important;
  }
  .time {
    color: #ffffff !important;
    font-size: 14px !important;
    font-weight: 400 !important;
  }