.carouselWrapper{
    position: relative;
}
.leftNavigation{
    position: absolute;
    top: 40%;
    left: -10px;
    transform: translate();
    z-index: 10;
}
.rightNavigation{
    position: absolute;
    top: 40%;
    right: 10px;
    transform: translate(-50%);
    z-index: 10;
}
