.wrapper {
    position: relative;
}

.leftNavigation {
    cursor: pointer;
    position: absolute;
    left: 0;
    top:40%;
    transform: translateY(-50%);
    z-index: 10;

}
.rightNavigation {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top:40%;
    transform: translateY(-50%);
    z-index: 10;
}