.navbar {
  /* background-color: var(--color-primary); */
  background-color: #34c94b;
  
  /* take from root */
  height: 100%;
  
  display:flex;
  align-items: center;
  justify-content: space-between;
}