.navbar{
    height: 74px;
    width: 100vw;
    background-color: var(--color-primary);
    border-bottom: 1px solid var(--color-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 32px;
}
