.navbar {
  width: 100%;
  height: 74px;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  align-items: center;
  left: 17px;
}
