.search_box {
  display: flex;
  margin: 13px 0px;
  width: 568px;
  height: 48px;
  background: var(--color-white);
  border: 1px solid var(--color-black);
  border-radius: 8px;
}

.search_input {
  padding: 20px 14px;
  border: 1px solid var(--color-black);
  border-radius: 8px;
  width: 502px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.search_button {
  width: 66px;
  height: 48px;
  background: var(--color-white);
  border: 1px solid var(--color-black);
  border-radius: 0px 8px 8px 0px;
  padding: 14px 23px;
}
